.football {
    display: flex;
    justify-content: space-between;
    background-color: var(--color-grey-dark-2);
  
    @media only screen and (max-width: $bp-medium) {
        flex-direction: column;
        
    }

}   
.left-sidebar {
    background-color: var(--color-grey-dark-1);
    padding: 2rem 0 2rem 0.5rem;
    
    flex: 0 0 13%;
    height: 100vh;
    display: flex;
    flex-direction: column;

    @media only screen and (max-width: $bp-medium) {
        padding: 2rem;
        text-align: center;
    }
    
}

.league-nav {
    font-size: 1.4rem;
    list-style: none;
    
    padding: 1rem 0.5rem;
    
    @media only screen and (max-width: $bp-medium) {
        display: flex;
        margin: 0;
    }
    
    &__item {
    
        position: relative;
        font-size: 1.6rem;
        
        color: var(--color-grey-light-3);
        line-height: 3.5rem;
        &:not(:last-child) {
            margin-bottom: 1.5rem;
            
            @media only screen and (max-width: $bp-medium) {
                margin: 0;
            }
        }
        
        @media only screen and (max-width: $bp-medium) {
            flex: 1;
            justify-self: space-around;
        }
    }
    
    &__item::before {
        content: "";
        
        
    }
    
    &__item:hover{
        color: var(--color-primary)
    }

    &__item:hover::before,
    &__item:active::before {
        border-left: var(--line-active);
        padding-left:1rem;
        
        
        
        
        
        
    }
    
    &__link:link,
    &__link:visited {

        color: var(--color-grey-light-1);
        text-decoration: none;
        text-transform: uppercase;
        display: block;
        padding: 1rem 3rem;
        position: relative;
        z-index: 10;
        
        display: flex;
        align-items: center;
        
        @media only screen and (max-width: $bp-medium) {
            justify-content: center;
            padding: 2rem;
        }
        
        @media only screen and (max-width: $bp-small) {
            flex-direction: column;
            padding: 1.5rem .5rem;
        }
    }
    
    
    // &__icon {
        //     width: 1.75rem;
        //     height: 1.75rem;
        
        //     fill: currentColor;
        
        //     @media only screen and (max-width: $bp-small) {
            //         margin-right: 0;
    //         margin-bottom: .7rem;
    //         width: 1.5rem;
    //         height: 1.5rem;
    //     }
    // }
}
    
.main-content {
    background-color: var(--color-grey-dark-1);
    text-align: center;
    flex: 0 0 56.2%;
    max-width: 56.2%;
    display: flex;
    flex-direction: column;
      
    
    &__filter {
        display: flex;  
        justify-content: space-between;
        background-color: var(--color-grey-dark-1);
        width: 100%;
        border-bottom: var(--line-active);
      
        &--active {
            border-bottom: var(--line-active);
            
        }
        
    }
    
    &__button {
        display: flex;
        padding: 1rem 0;
        color: var(--color-grey-light-1);
        border: var(--line);
        margin: 1rem;
        width: 30%;
        background-color: var(--color-grey-dark-1);
        justify-content: center;
        border-radius: var(--radius-large);
    }

    &__button:hover::before,
    &__button--active::before {
        border: var(--line-active);
        
        
        // background-color: var(--color-grey-dark-2);
        
        
    }
    

    &__button:focus {
        border: var(--line-active);
        outline: none;

        
    }
    
    @media only screen and (max-width: $bp-medium) {
        min-width: 100%;
       
    }

}

    


.right-sidebar {
    background-color: var(--color-grey-dark-1);

    flex: 0 0 29.7%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}






