.header-container {
    display: flex;
    justify-content: flex-start;
    height: 13rem; 
    background-image: 
    url(../assets/banner.jpg);
    background-size: cover;
    background-position: top;
    position: relative;
    border-top: var(--line-active);
    border-bottom: var(--line);

}