.header-container {
    display: flex;
    padding: 3rem 0;
    justify-content: center;
    background-color: var(--color-grey-dark-2);
   
    &__header {
    font-size: 3rem;
    line-height: 4rem;
    color: var(--color-grey-light-1);
    }
}
